import 'package:flutter/material.dart';
import 'package:responsive_builder/responsive_builder.dart';
import './${fileName}-desktop-view.dart';
import './${fileName}-mobile-view.dart';


class ${pageName}Page extends StatelessWidget {

@override
Widget build(BuildContext context) {
return ScreenTypeLayout(
    mobile: ${pageName}MobileView(),
    desktop: ${pageName}DesktopView(),
  );
}
}