import 'package:mvc_pattern/mvc_pattern.dart';

class ${name}Controller extends ControllerMVC {

factory ${name}Controller() {
    _this = ${name}Controller._();
    return _this;

}
static ${name}Controller _this;

${name}Controller._();

static ${name}Controller get con => _this;

String pageName = '${name}';
}