import '../../src/home/home-page.dart';
import 'package:flutter/material.dart';
import 'package:mvc_pattern/mvc_pattern.dart';

class LoginController extends ControllerMVC {
  factory LoginController() {
    _this = LoginController._();
    return _this;
  }
  static LoginController _this;

  LoginController._();

  static LoginController get con => _this;
  BuildContext context;

  @override
  void initState() {
    Future.delayed(Duration.zero, () {
      context = con.stateMVC.context;
    });
    super.initState();
  }

  final formKey = GlobalKey<FormState>();

  validateForm() {
    if (formKey.currentState.validate()) {
      goToHome();
    }
  }

  goToHome() {
    Navigator.popAndPushNamed(context, HomePage.route);
  }
}