import 'package:flutter/material.dart';  

///  
/// ${descriptionFiles.COLORS}
///

class CustomColors {

final primaryColor = Color(0xFF0fa35f);
final textColor = Color(0xFF707070);

}
CustomColors colors = CustomColors();